{% extends "base.html" %}
  
    {% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/styles/login.css' %}">
    {% endblock %}

    {% block backgroundVideo %}
    <video src="../../static/blog/assets/grain.mp4" muted autoplay loop></video>
    {% endblock %}

    {% block main %}
    <div class="form-background">
        <form action="" method="get">
            {% csrf_token %}

            <h3 class="form-header"> Login </h3>

            <fieldset class="field-inputs">
                <p class="name-input">
                    <label class="name-input-label" for="userName"> Username: </label>
                    <input class="name-input-field" type="text" name="username" id="userName">
                </p>
                <p class="password-input">
                    <label class="password-input-label" for="password">Password: </label>
                    <input class="password-input-field" type="text" name="password" id="password">
                </p>
            </fieldset>

            <p class="create-account-link">Don't have an account ? <a href="{% url 'register' %}"> create one </a> </p>

            <input class="submit-button" type="submit" value="Submit">
        </form>

    </div>
    {% endblock %}