{% extends "base.html" %}

    {% block stylesheet %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/styles/register.css' %}">
    {% endblock %}
    {% block backgroundVideo%}
        <video src="../../static/blog/assets/chop.mp4" muted autoplay loop></video>
    {% endblock %}    
    {% block main%}
        <div class="form-background">
            <form action="" method="post">
                {% csrf_token %}

                <h3 class="form-header"> Register </h3>

                {% for field in form %}
                <fieldset class="field-inputs">
                    <p class="input">
                        {{ field.label_tag }} {{ field }}
                    </p>
                </fieldset>
                {% endfor %}
                
                <input class="submit-button" type="submit" value="Submit">
            </form>
        </div>
    {% endblock %}