{% extends "base.html" %}

    {% block stylesheet %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/styles/register.css' %}">
    {% endblock %}
    {% block backgroundVideo%}
        <video src="../../static/blog/assets/chop.mp4" muted autoplay loop></video>
    {% endblock %}    
    {% block main%}
        <div class="form-background">
            <form action="" method="post">
                {% csrf_token %}

                <h3 class="form-header"> Register </h3>

                <fieldset class="field-inputs">
                    <p class="name-input">
                        <label class="name-input-label" for="userName"> Username: </label>
                        <input class="name-input-field" type="text" name="username" id="userName">
                    </p>
                    <p class="password-input">
                        <label class="password-input-label" for="password">Password: </label>
                        <input class="password-input-field" type="text" name="password" id="password">
                    </p>
                    <p class="retype-password-input">
                        <label class="retype-password-input-label" for="retype-password">Re-enter Password: </label>
                        <input class="retype-password-input-field" type="text" name="retype-password" id="retype-password">
                    </p>
                    <p class="email-input">
                        <label class="email-input-label" for="email">Email: </label>
                        <input class="email-input-field" type="text" name="email" id="email">
                    </p>
                </fieldset>

                <input class="submit-button" type="submit" value="Submit">
            </form>
        </div>
    {% endblock %}