<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="author" content="Anthony Campana">
        <meta name="description" content="This is a blog to document all food created and eaten by the author">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="index, nofollow">
        <title> Alexander's food excursion - Login </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/styles/base.css' %}">
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            <nav>
                <div class="homepage-link">
                    <a href=" {% url 'index'%}">Alexander taste excursion</a>
                </div>
                <div class="related-links-container">
                    <div class="postList-link">
                        <a href="{% url 'postLister' %}"> Posts </a>
                    </div>
                    <div class="logout-link">
                        <a href="{% url 'logout' %}"> logout </a>
                    </div>
                </div>
            </nav>
        {% else %}
            <nav>
                <div class="homepage-link">
                    <a href=" {% url 'index'%}">Alexander taste excursion</a>
                </div>
                <div class="login-link">
                    <a href="{% url 'login' %}"> login </a>
                </div>
            </nav>
        {% endif %}


        {% block backgroundVideo %}
        {% endblock %}

        <main>
            {% block main %}
            {% endblock %}
        </main>
        {% block scripts %}
        {% endblock %}
    </body>
   <footer>

   </footer> 
</html>